// variables & functions
// @import 'functions';
@import '../../util/styles/variables';

// base & layout
@import '../../util/styles/breakpoints';
@import '../../util/styles/commonStyles';
@import '../../util/styles/base';

.contact-section {
    padding: 9rem 0 5rem 0;
    text-align: center;

    .container {
        margin-top: 6rem;

        .feedback{
            @include centerContent();
            height: 3rem;
            margin-bottom: 2rem;
            color: map-get($colors, "helper" );
            font-size: 2rem;
        }

        .contact-form {
            max-width: 50rem;
            margin: auto;

            .contact-inputs {
                display: flex;
                flex-direction: column;
                gap: 3rem;

                input[type="submit"] {
                    cursor: pointer;
                    transition: all 0.2s;
                    background-color: map-get($colors, "btn");

                    &:hover {
                        background-color: map-get($colors, "white");
                        border: 1px solid map-get($colors, "btn");
                        color: map-get($colors, "btn");
                        transform: scale(0.9);
                    }
                }
            }
        }
    }
}