// variables & functions
// @import 'functions';
@import '../../util/styles/variables';

// base & layout
@import '../../util/styles/breakpoints';
@import '../../util/styles/commonStyles';
@import '../../util/styles/base';


#error-404{
    .container {
        padding: 9rem 0;
        text-align: center;
        h2 {
          font-size: 10rem;
        }
        h3 {
          font-size: 4.2rem;
        }
        p {
          margin: 2rem 0;
        }
      }
}