@import '../../../util/styles/common';

#add-to-cart {
    .colors p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .btnStyle {
        width: 2rem;
        height: 2rem;
        background-color: #000;
        border-radius: 50%;

        margin-left: 1rem;
        border: 1px solid #000;
        outline: none;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .active {
        opacity: 1;
        border-width: 0.5rem;
    }

    .checkStyle {
        font-size: 1rem;
        color: #fff;
        position: relative;
        top: -6px;
    }

    /* we can use it as a global one too  */
    .amount-toggle {
        margin-top: 3rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.4rem;

        button {
            border: none;
            background-color: #fff;
            cursor: pointer;
        }

        .amount-style {
            font-size: 2.4rem;
            color: $btn
        }
    }
}