// variables & functions
// @import 'functions';
@import '../../util/styles/variables';

// base & layout
@import '../../util/styles/breakpoints';
@import '../../util/styles/commonStyles';
@import '../../util/styles/base';




#footer{
    
      .contact-short {
        max-width: 60vw;
        margin: auto;
        padding: 5rem 10rem;
        background-color: map-get($colors, "bg");
        border-radius: 1rem;
        box-shadow: $shadowSupport;
        transform: translateY(50%);
    
        .grid div:last-child {
          justify-self: end;
          align-self: center;
        }
      }
    
      footer {
        padding: 14rem 0 9rem 0;
        background-color: map-get($colors, "footer_bg");
        h3 {
          color: map-get($colors, "hr");
          margin-bottom: 2.4rem;
        }
        p {
          color: map-get($colors, "white");
        }
        .footer-social--icons {
          display: flex;
          gap: 2rem;
    
          div {
            padding: 1rem;
            border-radius: 50%;
            border: map-get($colors, "white");
    
            .icons {
              color: map-get($colors, "white");
              font-size: 2.4rem;
              position: relative;
              cursor: pointer;
            }
          }
        }
      }
    
      .footer-bottom--section {
        padding-top: 9rem;
    
        hr {
          margin-bottom: 2rem;
          color: map-get($colors, "hr" );
          height: 0.1px;
        }
        ul{
            color: map-get($colors, "white");
            @include centerContent;

            li{
                margin: 0 2rem;
            }
        }

      }
    
      @include lg {
        .contact-short {
          max-width: 80vw;
          margin: 4.8rem auto;
          transform: translateY(0%);
          text-align: center;
    
          .grid div:last-child {
            justify-self: center;
          }
        }
    
        footer {
          padding: 9rem 0 9rem 0;
        }
    
        .footer-bottom--section {
          padding-top: 4.8rem;
        }
      }
}