// variables & functions
// @import 'functions';
@import '../../util/styles/variables';

// base & layout
@import '../../util/styles/breakpoints';
@import '../../util/styles/commonStyles';
@import '../../util/styles/base';


.loading {
    width: 100vw;
    height: 100vh;
    background-color: map-get($colors, "light");
    display: grid;
    place-items: center;
    max-width: 100%;

    div {
        width: 10vmax;
        height: 10vmax;
        border-bottom: 5px solid map-get($colors, "black");;
      
        border-radius: 50%;
      
        animation: loadingRotate 800ms linear infinite;
      }
      
      @keyframes loadingRotate {
        to {
          transform: rotateZ(-360deg);
        }
      }
  }