// variables & functions
// @import 'functions';
@import '../../util/styles/variables';

// base & layout
@import '../../util/styles/breakpoints';
@import '../../util/styles/commonStyles';
@import '../../util/styles/base';



.brand-section{
    padding: 9rem 0;
    background-color: map-get($colors , "bg");
  
    .brand-section {
      padding: 12rem 0 0 0;
    }
    h3 {
      text-align: center;
      text-transform: capitalize;
      color: map-get($colors , "text");
      font-size: 2rem;
      font-weight: bold;
    }
  
    img {
      min-width: 10rem;
      height: 10rem;
    }
  
    .brand-section-slider {
      margin-top: 3.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  
    @include lg {
      .brand-section-slider {
        margin-top: 3.2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* background-color: red; */
        text-align: center;
      }
    }
}