@import '../../../util/styles/common';

.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: $lightColor;
    position: sticky;
    top: 50px;



    .sidebarWrapper {
        padding: 20px;
        color: $gray;
    }

    .sidebarMenu {
        margin-bottom: 10px;
    }

    .sidebarTitle {
        font-size: 13px;
        color: $grayishColor;
    }

    .sidebarList {
        list-style: none;
        padding: 5px;
    }

    .sidebarListItem {
        padding: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 10px;

        &.active,
        &:hover {

            background-color: $white;
            color: black;

        }
    }


    .sidebarIcon {
        margin-right: 5px;
        font-size: 20px !important;
    }
}